/* shared content+ */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* shared content- */

/* nav+ */
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.page-title {
    display: flex;
    gap: 5px;
}

.page-interaction ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.page-title h1 {
    display: inline-flex;
    gap: 5px;
}

.page-title span {
    color: rgb(255, 84, 0);
}

.home {
    color: rgb(255, 84, 0);
}

/* nav- */

/* banner+ */

.banner-sec {}

.banner {

    background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);

    border-radius: 16px;

    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    border-radius: 16px;
    justify-content: center;
    padding: 135px;
    text-align: center;
    padding-top: 100px;
    text-align: center;




}

.banner ul {
    list-style: none;
    display: flex;
    gap: 20px;

    background: rgba(255, 255, 255, 0.3);
    justify-content: center;
    padding: 16px;


    align-items: flex-start;

    border-radius: 16px;


}




.banner ul li button {
    border-radius: 8px;
    padding: 16px;
    background: rgb(255, 255, 255);
    width: 174px;

    height: 52px;


}

.banner ul li {

    background: rgb(255, 255, 255);
    /* padding: 10px 20px 0 20px; */
    border: 0;
    border-radius: 8px;
    width: 174px;
    height: 45px;
    padding-top: 5px;

}

.banner ul li input {
    border: none;
}

.banner ul li ::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    text-align: center;


}

.banner h1 {
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 64px;

    font-weight: 800;
}

.banner p {
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.find {
    border-radius: 8px;
    padding: 14px 35px 14px 35px;
    background: rgb(255, 84, 0);
    border: 0;
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 16px;
    font-weight: 700;
}

/* banner- */

/* popular+ */
.popular {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 53px;
}

.popular-container h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 40px;

    font-weight: 800;
    margin-bottom: 50px;
}

.popular-container p {
    color: rgba(19, 19, 24, 0.7);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
    margin-bottom: 50px;
}

.popular-container ul {
    color: rgba(19, 19, 24, 0.7);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.popular-container button {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 20px;

    font-weight: 800;
    border: 0;
    margin-top: 20px;
    padding: 13px;
}

.popular-img {
    border-radius: 16px;
}

/* popular- */
/* Destination+ */
.Destination {
    padding-top: 50px;
    text-align: center;
}

.Destination h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 40px;

    font-weight: 800;
}

.Destination p {
    color: rgba(19, 19, 24, 0.7);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
    margin-bottom: 50px;
}

.maldives {
    background-image: url("/Images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    width: 573px;
    text-align: center;
    align-content: center;
    height: 300px;
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.indo {
    background-image: url("/Images/Rectangle\ 8.png");
    background-repeat: no-repeat;
    width: 573px;
    text-align: center;
    align-content: center;
    height: 300px;
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.first-div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.srilanka {
    background-image: url("/Images/Rectangle\ 6.png");
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    text-align: center;
    align-content: center;

    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.north {
    background-image: url("/Images/Rectangle\ 7.png");
    width: 474px;
    background-repeat: no-repeat;
    height: 286px;
    text-align: center;
    align-content: center;

    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.kash {
    background-image: url("/Images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 274px;

    height: 286px;
    text-align: center;
    align-content: center;

    color: rgb(255, 255, 255);
    border-radius: 16px;
    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.second-div {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.bangladesh {
    background-image: url("/Images/Rectangle\ 11.png");
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    text-align: center;
    align-content: center;

    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.bandarban {
    background-image: url("/Images/Rectangle\ 10.png");
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    text-align: center;
    align-content: center;

    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 28px;

    font-weight: 800;
}

.third-div {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

/* Destination- */

/* why+ */
.why {
    text-align: center;
    padding-top: 50px;
}

.why h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 40px;

    font-weight: 800;
}

.why p {
    color: rgba(19, 19, 24, 0.7);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.why-container {
    padding-top: 50px;
    justify-content: center;
}

.container-1 {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.hotel {
    width: 573px;
    padding: 15px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);

}

.service {
    width: 573px;
    height: 284px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding-left: 5px;
}

.price {

    width: 573px;
    height: 284px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding: 15px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;

}


/* why- */


/* deal+ */
.deal {
    text-align: center;
    padding-top: 15px;
}

.deal h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 40px;

    font-weight: 800;
}

.deal p {
    color: rgba(19, 19, 24, 0.7);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.deal-container {}

.deal-img-1 {
    background-image: url("/Images/Group\ 39.png");
    width: 1170px;
    height: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: right;
}

.deal-des-one {
    width: 579px;
    height: 389px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    align-content: center;
    padding-left: 15px;
    margin-right: 20px;

}

.deal-des-one h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 24px;

    font-weight: 800;
}

.deal-des-one p {
    color: rgb(90, 90, 93);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.deal-des-one h2 {
    color: rgb(255, 84, 0);

    font-family: Mulish;

    font-size: 20px;

    font-weight: 800;
}

.book-now {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 150px;
    height: 52px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.deal-img-2 {
    background-image: url("/Images/Group\ 40.png");
    width: 1170px;
    height: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: left;

}

.deal-des-two {
    width: 579px;
    height: 389px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    align-content: center;
    padding-left: 15px;

    margin-left: 20px;
}

.see {
    text-align: center;
}

.see button {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 20px;

    font-weight: 800;
    padding: 20px;
    border: 0;

}


/* deal- */

/* simple+ */
.simple {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
}

.simple-cont-1 {
    align-content: center;
    justify-items: left;
}

.simple-cont-1 h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 40px;

    font-weight: 800;
}

.simple-cont-1 p {
    color: rgb(90, 90, 93);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.simple-cont-1 ul {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 700;

}

.simple-cont-1 ul li {}

.simple-cont-1 button {
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 20px;

    font-weight: 800;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    padding: 14px 42px;
    border: 0;
    margin-top: 30px;
}

.simple-cont-2 {
    background-image: url("/Images/Group\ 40089.png");
    width: 610px;

    height: 424px;
    align-content: center;
    text-align: center;
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 24px;

    font-weight: 700;
}

/* simple- */

/* newsletter+ */
.newsletter {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 25px;
    padding: 20px;
}


.from {
    width: 474px;
    padding: 40px;
    height: 422px;
    justify-items: left;
    box-sizing: border-box;

    border: 1px solid rgb(255, 84, 0);

    border-radius: 16px;
}

.from h1 {
    color: rgb(19, 19, 24);

    font-family: Mulish;

    font-size: 24px;

    font-weight: 800;

}

.from p {
    color: rgb(90, 90, 93);

    font-family: Mulish;

    font-size: 16px;

    font-weight: 400;
}

.from hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
    width: 90%;
}



.input input {
    width: 393px;
    height: 52px;
    margin-top: 15px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.3);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 8px;
    border: 0;
}

.from button {
    margin-top: 15px;
    border-radius: 8px;
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 20px;

    font-weight: 800;

    background: rgb(255, 84, 0);
    width: 410px;

    border: 0;
    height: 52px;
}




.form-img {
    background-image: url("/Images/Rectangle\ 8\ \(1\).png");
    background-repeat: no-repeat;
    width: 672px;
    height: 422px;


}

.offer {
    transform: rotate(-19.63deg);
    width: 324px;
    height: 120px;
    padding-left: 300px;
    padding-top: 335px;

}

.offer-content {
    
    border-radius: 16px;
    background: rgb(255, 84, 0);
    text-align: center;
    align-content: center;
    

}

.p-1 {
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 24px;

    font-weight: 400;
}

.p-2 {
    color: rgb(255, 255, 255);

    font-family: Mulish;

    font-size: 32px;

    font-weight: 800;
}


/* newsletter- */

/* footer+ */
.footer-head div{
    padding-top: 150px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
footer{
    background: rgba(19, 19, 24, 0.05);
   
}
.footer-head{
   justify-items: center;
}
.footer-head p{
    text-align: center;
}
.social-links{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.footer-head p{
    color: rgb(90, 90, 93);

font-family: Mulish;

font-size: 16px;

font-weight: 400;
text-align: center;
}
.copy hr{
    margin-top: 50px;
    border: 1px solid rgba(19, 19, 24, 0.1);
    width: 50%;
}
.copy p{
   text-align: center;
   padding-bottom: 100px;
   color: rgb(19, 19, 24);

font-family: Inter;

font-size: 16px;

font-weight: 300;
}

/* footer- */

















/* responsive small+ */

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;

    }

    .page-interaction ul {
        gap: 10px;
    }

    .page-title {
        justify-content: center;
    }

    .banner-sec {
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0px;

    }

    .banner ul {
        flex-direction: column;
        align-items: center;
        width: 287px;
        margin-left: 40px;
        height: 288px;


    }

    .banner {
        padding: 0;
        gap: 0;
        align-content: center;

    }

    .banner ul li {
        padding: 14px;
        width: 255px;

    }

    .banner h1 {
        color: rgb(255, 255, 255);

        font-family: Mulish;

        font-size: 22px;

        font-weight: 800;
        padding-top: 20px;
    }

    .banner p {
        color: rgb(255, 255, 255);

        font-family: Mulish;

        font-size: 14px;

        font-weight: 400;
        padding-top: 10px;

    }

    .popular {
        flex-direction: column;
        padding: 5px;
        margin: 0px;
    }

    .popular-img img {
        width: 335px;
        padding: 25px;
        height: 342px;
    }

    .first-div {
        flex-direction: column;
        align-items: center;

    }

    .second-div {
        flex-direction: column;
        align-items: center;
    }

    .third-div {
        flex-direction: column;
        align-items: center;
    }

    .destination-img {
        display: flex;
        flex-direction: column;

    }

    .maldives {
        width: 335px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);
    }

    .indo {
        width: 335px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);

    }

    .srilanka {
        width: 335px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);
    }

    .north {
        width: 335px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);
    }

    .kash {
        width: 335px;

        background-size: 335px 176px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);
    }

    .bangladesh {
        width: 335px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);
    }

    .bandarban {
        width: 335px;
        height: 176px;
        border-radius: 16px;
        background: rgba(19, 19, 24, 0.2), url(1);
    }

    .container-1 {
        flex-direction: column;
        align-items: center;
    }

    .hotel {
        width: 335px;
        height: 289px;

    }

    .service {
        width: 335px;
        height: 289px;
    }

    .price {
        width: 335px;
        height: 289px;
        padding: 5px;
    }

    .deal-container {
        /* flex-direction: column; */
        /* padding-left: 20px; */
        justify-content: center;
        margin-left: 28px;
        gap: 20px;
        display: flex;
        flex-direction: column;

    }

    .deal-img-1 {
        margin: 0;
        width: 335px;
        height: 500px;
        border: 2px solid rgb(255, 255, 255);
        justify-content: center;
        padding-top: 160px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 16px;




    }

    .deal-des-one {
        padding: 10px;
        margin: 0;
        width: 303px;
        justify-content: center;
        height: 297px;
        align-content: center;




    }

    .deal-img-2 {
        margin: 0;
        width: 335px;
        height: 500px;
        border: 2px solid rgb(255, 255, 255);
        justify-content: center;
        padding-top: 160px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 16px;


    }

    .deal-des-two {
        padding: 10px;
        margin: 0;
        width: 303px;
        /* justify-content: center; */
        height: 297px;
        align-content: center;


    }

    .simple {
        flex-direction: column;
    }

    .simple-cont-2 {
        width: 100%;
        border-radius: 16px;
    }

    .simple-cont-2 h1 {
        font-size: 20px;

        font-weight: 700;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .from {
        width: 335px;

        height: 450px; 
    }

    .input input {
        width: 242px;

        height: 52px;

    }
    .from button{
        width: 242px;

        height: 52px;
    }
    .form-img{
        width: 335px;
        border-radius: 16px;
       height: 450px;
    }
    
    .offer{
        padding: 0;
       
       /* padding-top: 200px;
       padding-right: 150px; */
       
       /* padding-top: 200px; */
       margin-top: 260px;
       margin-left: 5px;

    }

}








/* responsive small- */